
@import "/src/assets/common/variables";

.list-container {
    display: block;
    width: $input-width;
    margin: 0 auto;
    max-height: 400px;
    overflow-y: scroll;
}

.list-item {
    font-size: 20px;
    background: #fff;
    opacity: 0.7;
    border: 1px solid #ddd;
    cursor: pointer;

    &:hover {
        font-weight: bold;
        border: 1px solid #000;
        border-radius: 6px;
    }
}